<div class="col-md-6 offset-md-3">
  <h2 class="text-center alert alert-primary">Update Employee</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        [(ngModel)]="employee.firstName"
        name="firstName"
      />
    </div>
    <br />
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        [(ngModel)]="employee.lastName"
        name="lastName"
      />
    </div>
    <br />
    <div class="form-group">
      <label for="email">Email-ID</label>
      <input
        type="email"
        class="form-control"
        id="email"
        [(ngModel)]="employee.email"
        name="email"
      />
    </div>
    <br />
    <button class="btn btn-success">Submit</button>
  </form>
</div>
